@font-face {
    font-family: yekan;
    src: url('../fonts/Yekan.woff') format('woff')
}

body {
    direction: rtl;
    font-weight: bold;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yekan;
}

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 22.2px;
    font-weight: bold;
    text-align: center;
    @extend %flex;
}

.gradient {
    width: 486px;
    position: relative;
    left: 7px;
    top: 16px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f4f4f4);
}

.modal-dialog {
    width: 960px;
    height: 1200px;
    border: 6px solid rgba(241, 196, 15, 0.5);
    border-radius: 48px;
    margin-top: 48px;
    padding: 16px 32px;
}

.modal-content {
    border: white !important;
}

table tr:first-child td {
    border-top-color: white;
}

table tr:nth-child(5) td {
    border-top-color: white;
}

.price-table {
    justify-content: space-evenly;
    @extend %flex;
    width: 100px;
    span {
        position: relative;
        top: 10px;
        font-size: 17.4px;
        font-weight: bold;
    }
}

.pq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    .name-food {
        font-size: 17.4px;
        font-weight: bold;
        width: 170px;
        position: relative;
        @extend %flex;
    }
    #price {
        font-size: 19.3px;
        font-weight: bold;
        position: relative;
        top: 10px;
        width: 55px;
    }
}

#message {
    position: relative;
    top: 10px;
    color: green;
}

#err {
    position: relative;
    top: 10px;
    color: red;
}

.total-table {
    justify-content: space-evenly;
    @extend %flex;
    width: 100px;
    span {
        position: relative;
        top: 54px;
        font-size: 17.4px;
        font-weight: bold;
        right: 43px;
    }
}

#total {
    position: relative;
    top: 55px;
    right: 42px;
    font-size: 22.8px;
    font-weight: bold;
    width: 79px;
}

#toman {
    position: relative;
    top: 65px;
    right: 43px;
    font-size: 17.4px;
    font-weight: bold;
}

.my-product-remove {
    position: relative;
    left: 47px;
    bottom: 2px;
}

.input-group {
    display: flex !important;
    align-items: center !important;
    position: relative;
    top: 12px;
    .form-control {
        position: relative;
        bottom: 4px;
        font-size: 28.1px;
        font-weight: bold;
        height: 50px;
        background-color: transparent;
        outline: none;
        border: none;
    }
}

.pluss {
    position: relative;
    left: 10px;
    bottom: 12px;
    object-fit: contain;
}

.minuse {
    position: relative;
    left: 20px;
    top: 8px;
    object-fit: contain;
}

.Gradient {
    width: 486px;
    position: relative;
    top: 477px;
    left: 7px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f4f4f4);
    transform: rotate(-180deg);
}

.orders {
    @extend %flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    .sum-orders,
    .service-orders,
    .discount-orders {
        @extend %flex;
        justify-content: space-evenly;
        span {
            font-size: 16.4px;
            font-weight: bold;
        }
    }
}

.number-orders {
    @extend %flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
    font-size: 21.1px;
    font-weight: bold;
    #sum {
        width: 100px;
    }
    #service {
        width: 100px;
    }
    #takhfif {
        width: 100px;
    }
}

.tatal-final {
    font-size: 45.6px;
    font-weight: bold;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
}